
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    margin-left: 2% ;
    padding: 0;
    box-sizing: border-box;
    width: 96%;
    
    background-color: bisque;

}
.heading{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.content{
    border: 1px solid black;
    
}
.heading1{
    text-align: center;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}
#title1{
    background-color: azure;
}
#title2{
    background-color: aquamarine;
}
#title3{
    background-color: aqua;
}
